@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');

$dark-color: #2C3E50;
$light-green: #D9FAF4;
$light-grey: #e5e7e9;
$good: #18BC9C;
$bad: #F30154;

$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

